[submodule "notenic-api"]
	path = notenic-api
	url = git@github.com:JKostov/notenic-api.git
	branch = master

[submodule "notenic-files"]
        path = notenic-files
        url = git@github.com:JKostov/notenic-files.git
	branch = master

[submodule "notenic-notifications"]
        path = notenic-notifications
        url = git@github.com:JKostov/notenic-notifications.git
	branch = master

[submodule "notenic-frontend"]
        path = notenic-frontend
        url = git@github.com:JKostov/notenic-frontend.git
	branch = master

