<div class="m-auto max-w-2xl">
  <div class="imag m-auto mt-8 mb-8">
    <div class="flex flex-col">
    <a class="m-auto" routerLink="/">
      <img class="w-20" src="assets/logo.png">
    </a>
    </div>
    <p class="text-center">Sign in to Notenic</p>
  </div>
  <div class="ui very padded container segment">
    <form class="ui form">
      <div class="field">
        <label>First Name</label>
        <input type="text" name="first-name" placeholder="First Name">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input type="text" name="last-name" placeholder="Last Name">
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>I agree to the Terms and Conditions</label>
        </div>
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
    <p class="text-center text-gray-500 text-xs">
      &copy;2019 Notenic. All rights reserved.
    </p>
  </div>
</div>
